<h1>
    <center>
    <title>Home page</title>
    </center>
</h1>

<p>
    <body>
            If you ever wanted to lose weight or maybe even gain weight?The key to solving it by subtracting or adding 500-1000 calories from your standard caloric burning rate, leading to a loss or gain of 1-2lb per week! If you would to know what your standard caloric intake should be then fill in the blanks below!
    </body>
</p>


<form action="/data" method = "POST">
    <p>What is your gender? <input type = "text" name = "gender" /></p>
    <p>What is current weight: <input type = "number" name = "weight" /></p>
    <p>What is your height in inches : <input type = "number" name = "height" /></p>
    <p>Please state your age:<input type = "number" name = "age" </p>
    <p>How active are you? Write unactive if you dont workout or are relatively seditary, lighlty active if you work out lightly 1-3 days a week, moderately active if your working out or playing sport or work a physicaly demanding job 3-5days a week, active if you are working out 6-7 days a week, or very active if you work out intesively for 7 days a week.<input type = "text" name = "activity"</p>
    <p><input type = "submit" value = "Submit" /></p>
</form>